@font-face {
  font-family:'Raleway' ;
  src: url('../fonts/Raleway/Raleway-VariableFont_wght.ttf') format('ttf');
  font-family: 'Alumi_Sans', cursive;
  src: url('../fonts/Alumni_Sans/AlumniSans-VariableFont_wght.ttf') format('ttf');
}

body {
  background-color: #eee;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #444;
  font-weight: normal;
  line-height: 1.4;
}

.inner {
  max-width: 1080px;
  margin: 0 auto;
}

.color-red {
  color: burlywood;
}

/*Mobile 320px
Tablet 767px
Desktop 1080px*/

main img {
  width: 100%;
  margin: 0 auto 0 auto;
  display: block;
}

.app-header {
  border-bottom: 1px solid #999;
  padding-bottom: 1em;
}



.app-logo {
  display: inline-block;
}

.app-logo img {
  min-width: 160px;
}

.app-navigation {
  float: right;
}

/*Links have 4 states: 
a:link, a:visited, a:active, a:hover */
.app-navigation a:link {
  text-decoration: none;
  color: #444;
  padding: 0.5em;
}

.app-navigation a:visited {
  color: #444;
}

.app-navigation a:active {
  color: greenyellow;
}

.app-navigation a:hover {
  color: bisque;
}

/*hamburger menu:*/
.app-navigation-drawer {
  /*hide nav on load*/
  display: block;
  background: #fff;
  padding: 0.5em;
  border-bottom: 2px solid green;
  list-style: none;
  /*animate: default state on page load*/
  transition: all 0.2s linear;
  transform: translateY(-150%);
}

.sr-only {
  display: none;
}

#hamburger-menu {
  /*hide the checkbox*/
  display: none;
}

#hamburger-menu:checked ~ .app-navigation-drawer {
  /*show nav on :checked*/
  display: block;
  /*animate into page show state*/
  transform: translateY(0%);
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 0;
  font-family: "Raleway', sans-serif";
  font-weight: 500;
}

p {
  font-family:'Alumni Sans', sans-serif;
}

form {
  background-color: transparent;
}

form fieldset {
  border: 5px dashed rgb(59, 59, 53);
  padding: 0.5em 0 1em 1em;
  background-color: #fff;
}

form fieldset legend {
  font-style: italic;
  font-size: 1.5em;
}

form label {
  display: block;
}

form h5 {
  margin-bottom: 5px;
}

.input-text {
  border: 1px solid #444;
  padding: 0.2em;
  color: #666;
  border-radius: 6px;
  width: 90%;
}

.input-text-area {
  border-radius: 6px;
}

input[type="submit"] {
  background-color: burlywood;
  width: 100%;
  border: none;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 6px;
}

input[type="submit"]:hover {
  background-color: bisque;
}

/*
To change color in the form-boxes:

input[type="text"] {
  background-color: #eee;
}

input[type="tel"] {
  background-color: #eee;
}

input[type="email"] {
  background-color: #eee;
}
*/

/*To make the screen 2 colomns on desktop, and 1 colomn on mobile:
The last 5% is to add padding, border and margin later*/
/*CSS comment*/

.footer {
  background-color:green;
  padding: 2em;
}

.footer .column {
  display: block;
  width: 20%;
  border: 1px solid hotpink;
}

@media screen and (min-width: 767px) {
  /* I am TABLET and DESKTOP*/
.app-navigation-drawer {
  transform: translateY(0%);
  background: transparent;
  border-bottom: none;
  }


.fa-bars {
  display: none;

}

.app-navigation-drawer li {
  display: inline-block;
  
}

.app-article {
    display: inline-block;
    width: 50%;
}

.app-sidebar {
    display: inline-block;
    width: 35%;
    vertical-align: top;
  }

  .footer .column {
    display: inline-block;
    width: 20%;
    border: 1px solid hotpink;
  }
}
